$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;




//Colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;
$grey: #f5f5f5;

html,
body {
  font-family: $font;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media(max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media(max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media(max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}

//Header
header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 10;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      a {
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1.5px;
        color: $black;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 20px;
          text-decoration: none;
          letter-spacing: 1.75px;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: $black;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

//Banner
.banner {
  display: flex;
  align-items: center;
  background-color: $white;
  position: relative;
  height: 100vh;
  .row {
    position: relative;
    .main-text {
      font-size: 5.8rem;
      line-height: 5.8rem;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 700;
      color: pink;
      position: absolute;
      width: 100%;
      left: 0;
      top:50%;
      transform: translateY(-50%);
      text-align: center;
      mix-blend-mode: difference;
      z-index: 9;
      @media (max-width: 1440px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }
    }
    .main-image {
      width: 640px;
      margin: 0 auto;
      @media(max-width: 1440px) {
        width: 440px;
      }
    }
    .side-image {
      width: 260px;
      position: absolute;
      @media (max-width: 1440px) {
        width: 160px;
      }
      &.left {
        left: 168px;
        bottom: 30px;
        @media (max-width: 1440px) {
          left: 128px;
        }
      }
      &.right {
        right: 168px;
        top: 30px;
        @media (max-width: 1440px) {
          right: 128px;
        }
      }
    }
  }
  .scroll {
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
  }
  .fixed-misc {
    position: fixed;
    top: 50%;
    right: -48px;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 1.5px;
    color: $white;
    mix-blend-mode: difference;
    z-index: 8;
    @media (max-width: 1440px) {
      right: -112px;
    }
  }
}

//About

.about {
  padding: 48px 0;
  background: $grey;
  position: relative;
  .inner-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content {
      width: 33%;
      @media (max-width: 1440px) {
        width: 40%;
      }
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin: 0;
      }
      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 40px 0 72px;
      }
      .btn-row {
        a {
          font-weight: 700;
          font-size: .875rem;
          letter-spacing: 1.5px;
          color: $black;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    .image {
      width: 50%;
      height: 1000px;
      position: relative;
      z-index: 7;
      @media (max-width: 1440px) {
        height: 800px;
      }
      .center {
        position: absolute;
        width: 460px;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        z-index: 4;
        @media (max-width: 1440px) {
          width: 360px;
        }
      }
    }
  }
}

//projects
.projects {
  padding: 48px 0;
  background: $white;
  position: relative;
  .inner-projects{
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      margin: 0;
      text-align: center;
    }
    .projects-section {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }
  }
}

//single-project
.project-section {
  margin: 12px 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .image {
    width: 40%;
    height: 400px;
    position: relative;
    z-index: 7;
    @media (max-width: 1440px) {
      height: 300px;
    }
    .center {
      position: absolute;
      width: 460px;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      z-index: 4;
      @media (max-width: 1440px) {
        width: 360px;
      }
      img {
        padding:1px;
        border:1px solid #eeeeee;
      }
    }
  }
  .project-content {
    width: 33%;
    @media (max-width: 1440px) {
      width: 40%;
    }
    .title {
      h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: .875rem;
        letter-spacing: 1.5px;
        margin: 0;
        text-align: center;
        color: rgb(7, 160, 19);
      }
    }
    .content {
      p {
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 300;
        margin: 8px 0;
        text-align: center;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      .button {
      margin: 0 6px;
      display:inline-block;
      padding:0.35em 1.2em;
      border:0.1em solid rgb(7, 160, 19);
      margin:0 0.3em 0.3em 0;
      border-radius:0.12em;
      box-sizing: border-box;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      font-weight:300;
      color:rgb(7, 160, 19);
      text-align:center;
      transition: all 0.2s;
      }
      .button:hover{
        color: $black;
        background-color:rgb(7, 160, 19);
      }
      @media all and (max-width:30em){
        .button1{
        display:block;
        margin:0.4em auto;
        }
      }
    }
  }
}

// ContactMe
.contactMe {
  padding: 48px 0;
  background: $white;
  position: relative;
  height: 35vh;
  background-color: $grey;
  .inner-contactMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    h3 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      margin: 0;
    }
    .link-row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .icon {
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .icon:hover {
        transform: scale(1.2);
      }
      .link {
        margin: 0 20px;
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #008CBA;;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color: $black;;
        text-align:center;
        transition: all 0.2s;
        background-color: $white;
      }
      .link:hover{
        color: $black;
        background-color:#008CBA;
      }
    }
  }
}


